/* common settings */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    font-family: 'Montserrat', sans-serif;
    color: #fff;
    font-size: 12px;
}
#wrapper {
    width: 100vw;
    max-width: 100%;
    height: 100vh;
}
ul li {
    list-style: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: #141922;
}
::-webkit-scrollbar-thumb {
    background: #888;
}
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

/* main */
main {
    height: calc(100% - 90px);
    display: flex;
}
main .sidebar {
    width: 230px;
    height: 100%;
    background: #000;
    color: #fff;
}
main .central-section {
    height: 100%;
    background: #141922;
    overflow-y: auto;
}
.central-section, .upgrade {
    width: calc(100% - 230px);
}

/* aside top */
.sidebar-top {
    height: calc(100% - 80px);
    overflow-y: hidden;
}
.sidebar-top .logo {
    padding: 20px;
}
.sidebar-top .logo img {
    height: 40px;
}
.sidebar-top ul.menu {
    margin-bottom: 20px;
}
.sidebar-top ul.menu li {
    display: flex;
    align-items: center;
    padding: 5px 20px;
}
.sidebar-top ul.menu li:first-child {
    opacity: 0.85;
    border-left: 2px solid #adff2f;
}
.sidebar-top ul.menu img {
    height: 25px;
}
.sidebar-top ul.menu span {
    margin-left: 5px;
    font-weight: 600;
}
.sidebar-top .playlist>* {
    padding: 0 20px;
}
.sidebar-top .playlist :is(.create-playlist, ul li) {
    margin: 10px 0 20px;
}
.sidebar-top .playlist .create-playlist i.fa {
    vertical-align: middle;
    margin-right: 5px;
    background: #fff;
    color: #000;
    font-size: 22px;
    padding: 7px 10px;
}
.sidebar-top .playlist ul {
    max-height: 35vh;
    overflow-y: auto;
}

/* aside bottom */
.sidebar-down {
    height: 80px;
    padding: 5px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sidebar-down :is(.download, .user) {
    display: flex;
    align-items: center;
}
.sidebar-down :is(h4, h5) {
    margin-left: 10px;
}
.sidebar-down .download img {
    height: 15px;
}
.sidebar-down .user {
    font-weight: 600;
    padding-top: 15px;
    border-top: 1px solid;
}
.sidebar-down .user img {
    height: 25px;
    border-radius: 50%;
    background: #808080;
}
.sidebar-down .user h4 {
    color: #fff;
}

/* central section */
.upgrade {
    height: 90px;
    padding: 20px;
    background: rgba(0, 0, 0, .5);
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.upgrade a {
    height: 40px;
    line-height: 40px;
    padding: 0 40px;
    color: #fff;
    border: 1px solid;
    border-radius: 20px;
    text-decoration: none;
}
.upgrade a:hover {
    zoom: 1.1;
}
.central-section::after {
    content: '';
}
.album {
    margin-top: 90px;
    padding: 0 20px;
    color: #7d7f84;
}
.album :is(h2, h3, h4, h5, h6, ul li) {
    color: #fff;
}
.album nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.album ul li {
    margin: 20px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
}
.album ul li:first-child:after {
    content: "";
    display: block;
    position: absolute;
    width: 20px;
    transform: translate(-50%, -50%);
    left: 50%;
    bottom: -5px;
    border-bottom: 2px solid #adff2f;
}
.album-section h2 {
    margin: 25px 0 10px;
}
.flex-wrap {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    margin: 25px 0;
}
.flex-wrap .box {
    flex-basis: calc(100% / 6 - 15px);
    margin: 0 15px 10px 0;
}
.flex-wrap .box .cover {
    position: relative;
    display: flex;
    align-items: center;
}
.flex-wrap .box img {
    width: 100%;
}
.flex-wrap .box h3 {
    margin: 15px 0 10px;
}
.album span {
    font-weight: 600;
}
.flex-wrap .box i.fa {
    width: 100%;
    height: 100%;
    vertical-align: middle;
    position: absolute;
    font-size: 70px;
    padding-top: calc(50% - 35px);
    color: #fff;
    background: rgba(0, 0, 0, .5);
    display: none;
}
.flex-wrap .box:hover {
    cursor: pointer;
}
.flex-wrap .box:hover i.fa {
    display: block;
}
.album-section:last-child .box img {
    border-radius: 50%;
}

/* footer */
footer {
    height: 90px;
    background: #282828;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
footer :is(.side, .center) {
    padding: 10px;
}
footer .side {
    width: 30%;
    max-width: 220px;
    display: flex;
    justify-content: space-between;
}
footer .side.left > div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}
footer .side.left {
    color: #858585;
}
footer .side.left img {
    width: 42px;
}
footer .side.left h4 {
    color: #fff;
}
footer span {
    font-size: 0.8em;
    font-weight: 600;
}
footer .side.left .icons {
    justify-content: space-around;
    font-size: 1.35em;
}
footer .side .song-played:hover,
footer .side .icons i.fa:hover {
    color: #fff;
    cursor: pointer;
}
footer .center {
    width: 40%;
    align-self: flex-start;
}
footer .center .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}
footer .buttons i.fa-play-circle-o {
    font-size: 1.75em;
    margin: 0 15px;
}
footer .buttons i.fa-play-circle-o:hover {
    transform: scale(1.1);
    cursor: pointer;
}
footer .buttons i.fa:nth-child(even) {
    margin: 0 15px;
}
footer .center .reproduction {
    display: flex;
    justify-content: space-evenly;
}

/* bar-player */
.bar-player {
    position: relative;
    width: 60%;
    top: 4px;
}
.bar-player .bar-1 {
    width: 100%;
    position: absolute;
    background: #858585;
    height: 4px;
    border-radius: 4px;
}
.bar-player .bar-2 {
    width: 20%;
    position: absolute;
    background: #fff;
    height: 4px;
    border-radius: 4px;
}
.bar-player .bar-2 i.fa {
    position: absolute;
    transform: translate(50%, -50%);
    right: 0;
    top: 50%;
    display: none;
}
.bar-player:hover {
    cursor: pointer;
}
.bar-player:hover .bar-2 {
    background: #adff2f;
}
.bar-player:hover .bar-2 i.fa {
    display: block;
}

/* hover */
.sidebar-top :is(ul li, .create-playlist),
.sidebar-down .download, .album ul li {
    opacity: 0.7;
}
.sidebar-top :is(ul li, .create-playlist):hover,
.sidebar-down .download:hover, .album ul li:hover {
    cursor: pointer;
    opacity: 1 !important;
}

/* media query < lg */
@media screen and (max-width: 991px) {
    .flex-wrap .box {
        flex-basis: calc(100% / 4 - 15px);
    }
}

/* media query < md */
@media screen and (max-width: 767px) {
    .flex-wrap .box {
        flex-basis: calc(100% / 2 - 15px);
    }
}

/* media query >= sm */
@media screen and (min-width: 576px) {
    .visible-xs {
        display: none !important;
    }
}

/* media query < xs */
@media screen and (max-width: 575px) {
    .hidden-xs {
        display: none !important;
    }
    main .sidebar {
        width: 50px;
    }
    .sidebar-top .logo img {
        height: 30px;
    }
    .sidebar-top :is(.logo, ul.menu li),
    .sidebar-down {
        align-items: center;
        justify-content: center;
        padding: 5px 10px;
    }
    .sidebar-top ul.menu li:first-child {
        border-left: none;
    }
    .sidebar-down .user {
        border-top: none;
    }
    .central-section, .upgrade {
        width: calc(100% - 50px);
    }
    footer .side img {
        width: 28px;
    }
    footer .right {
        justify-content: flex-end;
    }
}